@import "./_core.css";

.profile-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

/* --------------------- HEADER ---------------------- */
.profile-header {
  display: flex;
  align-items: center;
  gap: var(--space-lg);
  background: var(--gray-800);
  padding: var(--space-lg);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
}

.profile-info h2 {
  font-size: var(--font-xl);
  font-weight: 700;
  color: var(--white);
}

.profile-info p {
  color: var(--gray-300);
  margin-top: 4px;
}

/* ------------------- STATS ------------------- */
.profile-stats {
  background: var(--gray-800);
  padding: var(--space-lg);
  border-radius: var(--radius-lg);
}

.profile-stats h3 {
  color: var(--white);
  margin-bottom: var(--space-md);
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-md);
}

@media (min-width: 768px) {
  .stats-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.stat-box {
  background: var(--gray-700);
  padding: var(--space-md);
  border-radius: var(--radius);
  text-align: center;
}

.stat-value {
  display: block;
  font-size: var(--font-lg);
  font-weight: 700;
  color: var(--primary-light);
}

.stat-label {
  color: var(--gray-300);
  font-size: var(--font-sm);
}

/* ------------------- ACHIEVEMENTS ------------------- */

.profile-achievements h3 {
  margin-bottom: var(--space-md);
  color: var(--white);
}

/* ------------------- ACTIONS ------------------- */
.profile-actions {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding-bottom: 80px;
}

.action-btn {
  padding: var(--space-md);
  background: var(--gray-800);
  color: var(--white);
  border: none;
  border-radius: var(--radius-lg);
  font-size: var(--font-md);
  cursor: pointer;
  transition: 0.2s;
}

.action-btn:hover {
  background: var(--gray-700);
}

.logout-btn {
  padding: var(--space-md);
  background: var(--danger);
  color: var(--white);
  border: none;
  border-radius: var(--radius-lg);
  font-size: var(--font-md);
  cursor: pointer;
}

.logout-btn:hover {
  background: #d52b3a;
}

.profile-loading {
  color: var(--gray-300);
  text-align: center;
  padding: var(--space-lg);
}
